* {
  padding: 0;
  margin: 0;  
}
@font-face {
	font-family: OtterlyAdorable;
	src: url(../../3XmlHTMLCSS/content/OtterlyAdorable.ttf);
}
body {
    height: 100%;
    width: 100%;
    font-family: OtterlyAdorable;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(47, 79, 79);
    background-image: url('polygonal-shapes-for-a-geometric-background_1035-7303.jpg');
    background-size: contain;
    background-repeat: repeat;
    margin: 0 auto;
}
caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 45px;
    text-align: center;
    background: rgba(218, 227, 228, .4);
    margin: 0 auto;
}
table {
    width: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(99, 96, 96);
    margin: 0 auto;
}
tr {
    line-height: 25px;
    display: flex;
    flex-direction: row;
}
 yes, no, other {
    display: flex;
    align-items: center;
    padding-left: 5px;
    border: 1px solid rgb(99, 96, 96);
}
name, description {
    padding-left: 5px;
    border: 1px solid rgb(99, 96, 96);  
 
}
yes, no, other {
    justify-content: center;
}
name, description, other {
    background: rgba(218, 227, 228, .4);
}
name, yes, no, other {
    flex: 1;
}
heading1, heading2, heading3, heading4, heading5  {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: rgb(238, 52, 71);
    padding-left: 5px;
    border: 1px solid rgb(99, 96, 96);
    background: rgba(249, 185, 199, .41);
    justify-content: center;
}
heading1, heading3, heading4, heading5 {
    flex: 1;
}
heading2 {
    flex: 5;
}
caption, a {
     color: rgb(248, 117, 183);
}
description {
    flex: 5;
    color: rgb(99, 96, 96);
}
yes {
    color: rgb(240, 255, 255);
    background: rgba(247, 51, 69, .64);
}
no {
    background: rgba(252, 184, 202, .5);
}
a {
    text-decoration: none;
}
a:hover {
    color: rgb(238, 52, 71);
}