* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    width: 90%;
    padding-top: 40px;
    margin: 0 auto;
}
h2, h4, table p {
    text-align: center;
}
.text {
    width: 900px;
    display: inline-block;
}
.text p {
    font-size: 15px;
    margin: 10px 0;
}
.shortInfo {
    width: 255px;
    float: right;
    border: 1px solid #a2a9b1;
    background: #f8f9fa;
    padding: 4px;
}
.shortInfo p {
    font-size: 12px;
}
h4 {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}
.imgWrapper {
    text-align: center;
}
.shortInfo img {
    width: 90%;
}
table {
   font-size: 13px; 
   line-height: 20px;
}
th {
    vertical-align: top;
}
.list {
    width: 30%;
    border: 1px solid #a2a9b1;
    background: #f8f9fa;
    padding: 4px;
}
.list ol {
    width: 70%;
    font-size: 13px;
    line-height: 20px;
    margin: 0 auto;
}
big {
    width: 70%;
    display: block;
    text-align: center;
    margin: 0 auto;
} 
.logo {
    height: 140px;
    float: right;
    background: #f8f9fa;
    border: 1px solid #a2a9b1;
    padding: 3px;
    cursor: pointer;
}
.logo img {
    border: 1px solid #a2a9b1;
}
.logo p {
    font-size: 12px;
    line-height: 24px;
}
a {
    color: #0645ad;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus {
    color: #faa700;
}