@{
    ViewBag.Title = "LogIn";
	Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/Content/all.css" rel="stylesheet" />
<link href="~/Content/home.css" rel="stylesheet" />
	<div class="home">
		<h1>TEXT EDITER</h1>
		<figur>
			<img alt="banner" src="~/Content/images/Text-Editor.png"/>
		</figur>
	</div>