* {
  padding: 0;
  margin: 0;  
}
@font-face {
	font-family: OtterlyAdorable;
	src: url(../../3XmlHTMLCSS/content/OtterlyAdorable.ttf);
}
body {
    height: 100%;
    width: 100%;
    font-family: OtterlyAdorable;
    font-weight: bold;
    display: table;
    background-image: url('modern-technological-elements-with-transparent-background_1035-7108.jpg');
    background-size: contain;
    background-repeat: repeat;
    margin: 0 auto;
}
main {
	display: table-cell;
	vertical-align: middle;
}
caption {
    display: table-caption;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
}
table {
    width: 1150px;
    display: table;
    border: 1px solid rgb(99, 96, 96);
    margin: 0 auto;
}
tr {
    line-height: 25px;
    display: table-row;
}
heading, name, description, yes, no, other, text {
    vertical-align: middle;
    display: table-cell;
    padding-left: 5px;
    border: 1px solid rgb(99, 96, 96);
}
heading, yes, no, other {
    text-align: center;
}
name, description, yes, no, other, text {
    background: rgba(130, 184, 189, .4);
}
heading {
    font-size: 24px;
    color: rgb(0, 188, 212);
    background: rgb(215, 230, 236);
}
caption, a {
     color: rgb(34, 34, 123);
}
description {
    color: rgb(99, 96, 96);
}
yes, text {
    background: rgba(51, 191, 197, .4);
}
no {
    background: rgba(77, 106, 140, .4);
}
a {
    text-decoration: none;
}
a:hover {
    color: rgb(0, 188, 212);
}