@font-face {
    font-family: Ailerons;
    src: url(../Fonts/Ailerons.ttf);
}
sidebar {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.4);
}
.footer {
    margin: 0;
}
.investors_background {
    background: url(../images/investors_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0 15% 0;
}
.investors_background span {
    height: 230px;
    width: 100%;
    display: inline-block;
    margin-top: 40vh;
}
.reports {
    background: #469fcc;
    padding: 8% 0;
}
.reports span:nth-of-type(1) {
    font-family: Ailerons;
    font-size: 225%;
    padding-right: 2%;
    float: left;
}
.reports span:nth-of-type(2) {
    display: inline-block;
    margin-top: 0.7%;
}
.reports ul {
    margin-top: 7%;
}
.reports ul li {
    height: 100px;
    list-style: none;
    background-image: url(../images/pdf_icon.png);
    background-size: 40px 45px;
    background-repeat: no-repeat;
    line-height: 32px;
    padding-left: 55px;
}
.reports a {
    font-size: 130%;
    color: #ffffff;
}
.int_regulations {
    padding-top: 7%;
    padding-bottom: 7%;
}
.int_regulations h2 {
    display: block;
    font-family: GOTHICB;
    color: #469fcc;
    font-size: 300%;
}
.int_regulations p {
    font-weight: bold;
    text-align: justify;
}
.dimension_pattern {
    background-image: url('../images/dimension_pattern.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position: right center;
    background-size: 12% 100%;
}
.grey_line {
    margin-top: 5%; 
    margin-bottom: 5%;
}
.decision {
     margin-top: 3%;
}
.decision div {
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.decision div:nth-of-type(2n){
     background: #e5e5e5;
}
.decision div:nth-of-type(2n+1){
     background: #f5f5f5;
}
.decision div:nth-of-type(1) span {
     display: inline-block;
     font-family: GOTHICB;
     font-size: 115%;
     padding: 0 2%;
}
.financial {
    background: #00314b;
    color: #ffffff;
}
.financial h2 {
    margin: 5% 0;
}
.financial h4 {
    font-family: GOTHICB;
    font-size: 145%;
}
.financial ul {
    margin-top: 15%;
}
.financial ul li {
    height: 100px;
    list-style: none;
    background-image: url(../images/pdf_icon.png);
    background-size: 40px 45px;
    background-repeat: no-repeat;
    line-height: 45px;
    padding-left: 55px;
}
.financial span:nth-of-type(1) {
    padding-right: 2%;
}
.financial span:nth-of-type(2) {
    display: inline-block;
    margin-top: 0.7%;
}
.financial a {
    font-size: 180%;
    color: #ffffff;
}
.square_wrapper {
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
} 
hr {
    width: 650px;
}
.square {
    height: 100px;
    width: 100px;
    position: absolute;
    right: -18%;
    border: 5px solid #ffffff;
    transform: rotate(45deg);
}
.small_square {
    height: 50px;
    width: 50px;
    position: absolute;
    right: -9%;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    transform: rotate(45deg);
}
.management {
    background-color: #ffffff;
    padding-top: 5%;
    padding-bottom: 5%;
}
.management h2{
    font-family: GOTHICB;
}
.management ul li {
    height: 70px;
    list-style: none;
    background-image: url(../images/xslx.png);
    background-size: 45px 45px;
    background-repeat: no-repeat;
    line-height: 45px;
    padding-left: 55px;
}
.management ul li a {
   font-size: 120%;
    color: #001f2f;
}
.management p {
   font-weight: bold;
    text-align: justify;
}
.management p:nth-of-type(1) {
   margin-top: 3%;
}

@media screen and (max-width: 1200px) {
  hr {
        width: 500px;
    }
    .square {
        height: 80px;
        width: 80px;
        right: -18%;
    }
    .small_square {
        height: 30px;
        width: 30px;
        right: -7%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1800px){
    .reports span:nth-of-type(2) {
        margin-top: 1%;
    }
}
  hr {
        width: 500px;
    }
    .square {
        height: 80px;
        width: 80px;
        right: -18%;
    }
    .small_square {
        height: 30px;
        width: 30px;
        right: -7%;
    }
}
@media screen and (max-width: 992px) {
   sidebar {
       box-shadow: none;
    }
    .investors_background {
        padding: 2% 0 5% 0;
    }
    .investors_background span {
        margin-top: 15vh;
    }
}

@media screen and (max-width: 767px) {
    .investors_background span {
        width: 100%;
        margin-top: 0;
    }
    .dimension_pattern {
        background-image: none;
    }
    .blue_header {
        font-size: 190%;
    }
    .reports ul li {
        height: 60px;
        background-size: 20px 25px;
        line-height: 25px;
        padding-left: 25px;
    }
    .reports a {
        font-size: 80%;
    }
    .reports span:nth-of-type(1) {
        font-size: 220%;
        padding-right: 5%;
    }
    .reports span:nth-of-type(2) {
        margin-top: 0;
    }
    .int_regulations h2 {
        font-size: 150%;
    }
    .int_regulations p {
        font-size: 65%;
    }
    .decision div:nth-of-type(1) span {
        font-size: 65%;
    }
    .financial h4 {
        font-size: 100%;
    }
    .square_wrapper {
        display: none;
    }
    .financial ul li {
        height: 60px;
        background-size: 20px 25px;
        line-height: 25px;
        padding-left: 25px;
    }
    .financial span:nth-of-type(1) {
        font-size: 180%;
    }
    .financial a {
        font-size: 80%;
    }
    .management h2 {
        font-size: 125%;
    }
    .management ul li {
        height: 60px;
        background-size: 20px 25px;
        line-height: 25px;
        padding-left: 25px;
    }
    .management p {
        font-size: 80%;
    }
}