.footer {
    margin: 0;
}
.regulation_background {
    background: url(../images/regualtion_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10% 0;
}
.regulation_background span {
    height: 230px;
    width: 40%;
    display: inline-block;
}
.lows {
    padding: 5% 0 20% 0;
}
.lows h2 {
    font-family: GOTHICB;
    font-size: 250%;
    color: #469fcc;
}
.lows hr {
    width: 70%;
    border: 1.5px solid #001f2f;
}
.lows p {
    font-weight: bold;
    text-align: justify;
    line-height: 1;
}
.lows ul li {
    height: 100px;
    list-style: none;
    background-image: url(../images/blue_pdf.png);
    background-size: 45px 50px;
    background-repeat: no-repeat;
    line-height: 52px;
    padding-left: 55px;
}
.lows ul li a {
    font-size: 180%;
    color: #001f2f;
}
.dimension_pattern {
    background-image: url('../images/dimension_pattern.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position: right center;
    background-size: 12% 100%;
}
@media screen and (max-width: 992px) {
   sidebar {
       position: static;
       box-shadow: none;
    }
    .services_background {
        height: 10%;
        background-position: top;
    }
}
@media screen and (max-width: 767px) {
    .regulation_background span {
        width: 100%;
    }
    .dimension_pattern {
        background-image: none;
    }
    .lows h2 {
        font-size: 190%;
    }
    .lows p {
        font-size: 85%;
        margin-bottom: 10%;
    }
    .lows ul li {
        height: 60px;
        background-size: 20px 25px;
        line-height: 25px;
        padding-left: 25px;
    }
    .lows ul li a {
        font-size: 80%;
    }
}
@media screen and (min-width: 980px) and (max-width: 1350px){
    .regulation_background span {
        width: 75%;
    }
}
@media screen and (min-width: 1350px) and (max-width: 1440px){
    .regulation_background span {
        width: 55%;
    }
}