.footer {
    margin: 0;
}
.regulation_background {
    background: url(../images/regualtion_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 10%;
}
.regulation_background span {
    height: 230px;
    width: 32%;
    display: inline-block;
}
.lows {
    padding-bottom: 20%;
}
.lows h2 {
    font-family: GOTHICB;
    font-size: 250%;
    color: #469fcc;
}
.lows hr {
    width: 70%;
    border: 1.5px solid #001f2f;
}
.lows p {
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 5%;
}
.lows ul li {
    height: 70px;
    list-style: none;
    background-image: url(../images/blue_pdf.png);
    background-size: 40px 45px;
    background-repeat: no-repeat;
    line-height: 45px;
    padding-left: 55px;
}
.lows ul li a {
    font-size: 180%;
    color: #001f2f;
}
@media screen and (max-width: 992px) {
   sidebar {
       position: static;
       box-shadow: none;
    }
.regulation_background span {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .regulation_background  {
        background-size: 100% 80%;
    }
    .regulation_background span {
        width: 100%;
    }
    .lows h2 {
        font-size: 190%;
    }
    .lows p {
        font-size: 85%;
        margin-bottom: 10%;
    }
    .lows ul li {
        height: 40px;
        background-size: 20px 25px;
        line-height: 25px;
        padding-left: 25px;
    }
    .lows ul li a {
        font-size: 80%;
    }
}
@media screen and (min-width: 980px) and (max-width: 1350px){
    .regulation_background span {
        width: 55%;
    }
}
@media screen and (min-width: 1350px) and (max-width: 1440px){
    .regulation_background span {
        width: 44%;
    }
}