* {
  padding: 0;
  margin: 0;  
}
@font-face {
	font-family: OtterlyAdorable;
	src: url(../../1XmlCSSDisplay/content/OtterlyAdorable.ttf);
}
body {
    height: 100%;
    width: 100%;
    font-family: OtterlyAdorable;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('grey.jpg');
    background-size: contain;
    background-repeat: repeat;
    margin: 0 auto;
}
caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
}
table {
    height: 650px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(99, 96, 96);
    margin: 0 auto;
}
tr {
    display: flex;
    flex-direction: row;
    line-height: 25px;
}
heading, headingbig, name, description, yes, no, other, text {
    display: flex;
    align-items: center;
    padding-left: 5px;
    border: 1px solid rgb(99, 96, 96);
}
heading, headingbig, yes, no, other {
    justify-content: center;
}
name, description, yes, no, other, text {
    background: rgba(253, 253, 253, .4);
}
heading, headingbig {
    font-size: 24px;
    line-height: 48px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgba(249, 140, 44, .78);
    color: rgb(21, 28, 74);
    background: rgba(191, 189, 193, .4);
}
heading {
    flex: 1;
}
headingbig {
    flex: 5;
}
name {
    font-size: 15px;
}
name, caption {
    color: rgba(249, 140, 44, .78);
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(249, 140, 44, .78);
}
name, yes, no, other, text {
    flex: 1;
}
description {
    flex: 5;
    color: rgb(99, 96, 96);
}
yes, text {
    background: rgba(249, 140, 44, .78);
}
no {
    background: rgba(80, 82, 84, .4);
}