* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Handlee-Regular;
}
html {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Handlee-Regular;
    src: url(../fonts/Handlee-Regular.ttf);
}

body {
    height: 100%;
}
.container {
	height: 100%;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}
textarea:focus, input:focus, button:focus {
    outline: none;
}

navbar {
    width: 100%;
    display: flex;
    justify-content: center;
	background: #fff;
}

    navbar > ul {
        height: 60px;
    }

.dropdown {
    display: none;
    position: relative;
    z-index: 5;
    background: rgba(167, 167, 167, 0.3);
}

navbar li {
    width: 155px;
    list-style: none;
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
}

.logo {
    width: 100px;
    font-size: 28px;
}

.logoImg {
    height: 50px;
    width: 50px;
}

navbar li:hover .dropdown {
    display: inline-block;
}

.dropdown li {
    width: 155px;
    float: none;
    line-height: 50px;
    border: none;
    margin: 3px 0;
}

    .dropdown li:hover {
        background: rgba(146, 143, 143, 0.7);
    }

navbar a {
    color: #000000;
    text-decoration: none;
    display: block;
}

    navbar a:hover:not(.logo) {
        color:  #e88a91;
    }

#home {
        color: #e88a91;
}

.arrow-down {
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    display: inline-block;
    vertical-align: middle;
    border-right: 5px solid transparent;
    border-top: 5px solid #e88a91;
    margin-left: 2px;
}

navbar a:hover .arrow-down {
    border-top: 5px solid #e88a91;
}

#main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, #bec1c7, #c8c4ce, #d6c6d0, #e4c8cb, #eccdc3);
}

PopUp {
    height: 550px;
    width: 700px;
    display: block;
    background: #f2f2f2;
    box-shadow: 3px 1px 10px 5px rgba(156, 152, 152, 0.49);
    margin: 0 auto;
}

TitleBar {
    height: 30px;
    width: 100%;
    display: block;
    line-height: 30px;
    background: #c4c4c4;
    padding: 0 5px;
    cursor: all-scroll;
}

    TitleBar button {
        height: 20px;
        width: 20px;
        float: right;
        margin: 5px 2px;
        cursor: pointer;
        background: url(images/max_min_close.png);
        background-color: #ffffff;
        box-shadow: 1px 1px 2px 1px rgba(21, 20, 20, 0.49);
        border: none;
        border-radius: 2px;
        margin: 5px 4px;
        cursor: pointer;
    }

#titlebarButton0 {
    background-position: -85.5px -20px;
}

#titlebarButton1 {
    background-position: -54px -20px;
}

#titlebarButton2 {
    background-position: -18px -20px;
}

Content {
    height: 400px;
    width: 75%;
    display: inline-block;
    background: #ffffff;
    border: 1px solid #dddddd;
    vertical-align: top;
    padding: 10px;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

ButtonBar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}

.buttonBarButtons {
    height: 35px;
    width: 70px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: Handlee-Regular;
}

ToolBar {
    height: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 9px;
}

    ToolBar span {
        height: 30px;
        width: 30px;
        display: inline-block;
        background: url(images/wysiwyg-editor-gui-gark-light1.png);
        background-color: #ffffff;
        box-shadow: 1px 1px 2px 1px rgba(21, 20, 20, 0.49);
        border: none;
        border-radius: 2px;
        margin: 5px 2px;
        cursor: pointer;
    }

        ToolBar span:nth-of-type(1) {
            background-position: -38px -55px;
        }

        ToolBar span:nth-of-type(2) {
            background-position: -73px -55px;
        }

        ToolBar span:nth-of-type(3) {
            background-position: -107px -55px;
        }

        ToolBar span:nth-of-type(4) {
            background-position: -142px -55px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(5) {
            background-position: -183px -55px;
        }

        ToolBar span:nth-of-type(6) {
            background-position: -218px -55px;
        }

        ToolBar span:nth-of-type(7) {
            background-position: -250px -55px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(8) {
            background-position: -294px -55px;
        }

        ToolBar span:nth-of-type(9) {
            background-position: -326px -55px;
        }

        ToolBar span:nth-of-type(10) {
            background-position: -359px -55px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(11) {
            background-position: -402px -55px;
        }

        ToolBar span:nth-of-type(12) {
            background-position: -437px -55px;
        }

        ToolBar span:nth-of-type(13) {
            background-position: -471px -55px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(14) {
            background-position: -501px -55px;
        }

        ToolBar span:nth-of-type(15) {
            background-position: -535px -55px;
        }

        ToolBar span:nth-of-type(16) {
            background-position: -568px -55px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(17) {
            width: 86px;
            background-position: -612px -55px;
        }

        ToolBar span:nth-of-type(18) {
            background-position: -38px -99px;
        }

        ToolBar span:nth-of-type(19) {
            background-position: -72px -99px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(20) {
            background-position: -115px -99px;
        }

        ToolBar span:nth-of-type(21) {
            background-position: -149px -99px;
        }

        ToolBar span:nth-of-type(22) {
            background-position: -182px -99px;
        }

        ToolBar span:nth-of-type(23) {
            background-position: -214px -99px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(24) {
            width: 155px;
            background-position: -260px -99px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(25) {
            width: 78px;
            background-position: -431px -99px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(26) {
            background-position: -513px -99px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(27) {
            background-position: -556px -99px;
        }

        ToolBar span:nth-of-type(28) {
            background-position: -590px -99px;
            margin-right: 10px;
        }

        ToolBar span:nth-of-type(29) {
            background-position: -634px -99px;
        }

        ToolBar span:nth-of-type(30) {
            background-position: -665px -99px;
        }

        ToolBar span:nth-of-type(31) {
            background-position: -218px -55px;
        }

        ToolBar span:nth-of-type(32) {
            background-position: -218px -55px;
        }

FileBar {
    height: 400px;
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #dddddd;
}

#currFile {
    height: 30px;
    line-height: 30px;
    border: 1px dashed grey;
    text-align: center;
    background: #ffffff;
}

#bottom {
    height: 30px;
    width: 200px;
    position: absolute;
    bottom: 0;
}

.minMax {
    height: 30px;
    width: 200px;
}

.active {
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.fullScreen {
    height: 100%;
    width: 100%;
}
footer {
    padding: 20px 0;
}
footer ul {
    height: 40px;
    width: 100%;
}
footer ul li {
    float: left;
    list-style: none;
    text-align: center;
    line-height: 40px;
    margin: 0 20px;
}
footer ul li a {
    height: 40px;
    width: 40px;
    display: inline-block;
	background-image: url('images/css_sprites.png');
    filter: opacity(30%);
}
footer ul li a:hover {
    filter:opacity(70%);
    transform:rotate(-360deg);
    transition: all 0.5s linear;
}
.facebook {
   background-position: -18px -63px;
}

.tumbler {
   background-position: -144px -63px;
}

.twitter {
   background-position: -81px -63px;
}

.pinterest {
    background-position: -334px -67px;
}
footer p {
    text-align: center;
}