* {
  padding: 0;
  margin: 0;  
}
@font-face {
	font-family: OtterlyAdorable;
	src: url(../../1XmlCSSDisplay/content/OtterlyAdorable.ttf);
}
body {
    height: 100%;
    width: 100%;
    font-family: OtterlyAdorable;
    font-weight: bold;
    display: table;
    background-image: url('Slide36_Pic1_636225479439394476.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
main {
	display: table-cell;
	vertical-align: middle;
}
caption {
    display: table-caption;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
}
table {
    height: 570px;
    width: 1200px;
    display: table;
    border: 1px solid rgb(99, 96, 96);
    margin: 0 auto;
}
tr {
    line-height: 25px;
    display: table-row;
}
heading, name, description, yes, no, other, text {
    vertical-align: middle;
    display: table-cell;
    padding-left: 5px;
    border: 1px solid rgb(99, 96, 96);
}
heading, yes, no, other {
    text-align: center;
}
name, description, yes, no, other, text {
    background: rgba(253, 253, 253, .4);
}
heading {
    font-size: 24px;
    color: rgb(94, 101, 150);
    background: rgba(191, 189, 193, .4);
}
name, caption {
    color: #8c4d7d;
}
description {
    color: rgb(99, 96, 96);
}
yes, text {
    background: rgba(140, 77, 125, .4);
}
no {
    background: rgba(77, 106, 140, .4);
}